<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mateskool | Inicio</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/flexboxgrid.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="JS/jquery-3.4.1.min.js"></script>
</head>
<body>
    <!-- Titulo/Logo -->
    <div class="fondo">
        <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-xs-12 col-lg-4" id="titulopag">
            <img src="img/planeta.png" alt="" id="planeta">
            Mateskool
        </div>
        <div class="col-lg-4"></div>
        </div>
    </div>
    <!-- Titulo/Logo -->
    <!-- Inicio -->
    <div class="row" id="inicio">
        <!-- Menu -->
        <div class="col-xs-12 col-lg-12">
            <nav id="aside"> 
                <ul class="row">
                    <li class="col-xs-12 col-lg-2"><a class="active" href="Inicio.html">Inicio</a></li>
                    <li class="col-xs-12 col-lg-2"><a href="Primero.html">Primero</a></li>
                    <li class="col-xs-12 col-lg-2"><a href="Segundo.html">Segundo</a></li>
                    <li class="col-xs-12 col-lg-2"><a href="Tercero.html">Tercero</a></li>
                    <li class="col-xs-12 col-lg-2"><a href="Cuarto.html">Cuarto</a></li>
                    <li class="col-xs-12 col-lg-2"><a href="contacto.html">Contactenos</a></li>
                </ul>
            </nav>    
        </div>
        <!-- Menu -->
        <!-- Contenido -->
        <div class="col-xs-12 col-lg-12 ">
            <div>
                    <h1 class="tituloin">
                        ¡Bienvenidos!
                    </h1>
                <div class="row">
                    <div class="col-xs-12 col-lg-3">
                        <img src="img/profesor.png" alt="" id="profesora">                          
                    </div>
                    <div class="col-xs-12 col-lg-9">
                        <p id="textoprof">Los contenidos de matematicas para niños de primaria que proponemos en "MatesKoool" mejoran el conocimiento que tienen los niños de primaria sobre los números y operaciones, las magnitudes y sus medidas, las figuras geométricas y la resolución de problemas.
                        Las matemáticas son fundamentales para la vida porque su comprensión permitirá a los pequeños estudiar en el futuro algunas de las carreras con mayor número de salidas. No es fácil aprender a resolver ejercicios, pero es mucho más divertido cuando las matemáticas se aprenden jugando.
                        </p>
                    </div>
                </div>
                <h1 class="tituloin">
                    Cómo mejorarán los niños de Primaria
                </h1>
                
                <p class="textonorm">
                    Hacer clic en el ratón será el único requisito para aprender matemáticas gratis de esta manera tan divertida. Los juegos de matemáticas para niños son una estrategia lúdica para enseñar a los niños todos los conocimientos previos que necesitan para superar con éxito sus asignaturas de matemáticas. 
                    Con estas actividades para niños de Primaria se aprende a la vez que se divierte por partes iguales!
                    El niño perderá el miedo a los números y a las operaciones matemáticas, ya estará aprendiendo matemáticas sin estrés y sin examinarse. Superar su propio récord se convertirá en un objetivo personal. Eso sí, también tendrá la posibilidad de evaluar sus conocimientos gracias a alguno de los test de matemáticas para niños en los que pondrá a prueba lo aprendido.
                </p>
                  
                
                <p class="textonorm">
                    Los juegos de matemáticas para niños les permitirán descubrir las magnitudes y sus medidas, y también enseñarán a los pequeños todas las diferencias que existen entre las diferentes figuras geométricas.   
                    Estos juegos de matemáticas para niños también les enseñarán a resolver satisfactoriamente los problemas de matemáticas. Y es que a parte de juegos de operaciones los niños se encontrarán con un elenco de actividades matemáticas de lo más extenso
                </p>
                <h1 class="tituloin">
                    Cómo hacer las matemáticas divertidas
                </h1>
                <p class="textonorm">
                    Muchos niños consideran que las matemáticas no son útiles en el día a día, pero los juegos matemáticos para primaria les ayudarán a descubrir que los números también pueden ser una fuente de diversión.
                    Las matemáticas son muy importantes para precisar las distancias entre diferentes objetos, para conocer las áreas de las superficies y los volúmenes, para comprender los pesos y las capacidades de los recipientes y para medir el tiempo.
                    Para aprender una materia tan importante como las matemáticas, ¿existe una manera más eficaz que el juego?
                </p>
                <h1 class="tituloin">
                    Monográficos de matemáticas
                </h1>
                <p class="textonorm">
                    En "MatesKoool" tenemos miles de recursos para aprender matemáticas, por eso los hemos organizado también por temas y cursos, para que puedas encontrar todo lo necesario de una forma más rápida.
                </p>
            </div>
        </div>
        <!-- Contenido -->
    </div>
    <!-- Inicio -->
    <!-- Informacion Extra -->
        <div class="fondo">
            <div class="row">
                <div class="col-xs-12 col-lg-3">
                    <img src="img/cerebro.png" alt="" class="fotosex width50" >
                    <h1 class="titulosex">Logica y Razonamiento</h1>
                    <p class="textoex">
                    Es Mucho más que calculo mental. El alumno desarrolla habilidades para resolver problemas y pensamiento crítico, mientras mejora su comprensión lectora  
                    </p>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <img src="img/barras.png" alt="" class="fotosex width45">
                    <h1 class="titulosex">Inteligencia Artificial</h1>
                    <p class="textoex">
                    Con el metodo de inteligencia artificial su hijo progresa a su propio ritmo, sin frustración, desarrollando confianza en sí mismo y una actitud positiva hacia las matemáticas
                    </p>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <img src="img/reloj.png" alt="" class="fotosex" id="reloj">
                    <h1 class="titulosex">15 Minutos</h1>
                    <p class="textoex">
                        15 minutos al dia, basta con una sesión al dia con máxima concentración. Sin desplazamientos ni horarios. Desde el PC o tableta.
                    </p>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <img src="img/gorro.png" alt="" class="fotosom" id="gorro">
                    <h1 class="titulosex">Más rápido que en el colegio</h1>
                    <p class="textoex">
                        No va en paralelo al plan de estudios oficial. Prepara a su hijo para avanzar más rápido que en el colegio
                    </p>
                </div>
            </div>
        </div>
    <!-- Informacion Extra -->
    <!-- Footer -->
    <footer class="fondo">
    <!-- Slider -->
    <div class="slide-contenedor" id="slider">
        <!-- Imagenes -->
        <div class="mySlides fade">
          <a href="https://www.instagram.com/duocuc_cl/" onclick="Instagram()">
            <img src="img/slider/Instagram.png" alt="" class="width100">
          </a>
        </div>
      
        <div class="mySlides fade">
          <a href="https://www.facebook.com/DuocUC/" onclick="Facebook()">
            <img src="img/slider/Facebook.png" alt="" class="width100">
          </a>
        </div>
      
        <div class="mySlides fade">
          <a href="https://twitter.com/DuocUC" onclick="Twitter()">
            <img src="img/slider/Twitter.png" alt="" class="width100">
          </a>
        </div>
      
        <!-- Botones -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
      
      <!-- Circulos -->
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
      <script src="js/script.js"></script>
    </footer>
    <!-- Footer -->          
</body>
</html>